---
hero: A world of animals for education, play, and decor
---

<div class="background"></div>
<main>
  {{> _hero hero=hero}}
  {{> _action}}
  {{> _about}}
  {{> _products_container}}
  {{> _proof}}
  {{> _buy}}
  {{> _sell}}
  {{> _footer}}
</main>
