<section class="about">
  <h2 class="type--h2 about--header">Perfect for you and your child</h2>
  <p class="type--p__large about--text">Endearing animals and engaging games for them. Classic design and peace of mind for you.</p>
  {{> _animal--lion}}
  <svg width="160" height="160" class="lion--back parallax-one">
    <circle cx="80" cy="80" r="80" />
  </svg>
  <svg class="lion--element" id="lion--element__1">
    <polygon points="0,15 9,0 18,15" />
  </svg>
  <svg class="lion--element" id="lion--element__2">
    <polygon points="0,15 9,0 18,15" />
  </svg>
  <svg class="lion--element" id="lion--element__3">
    <polygon points="0,15 9,0 18,15" />
  </svg>
  <svg class="lion--element" id="lion--element__4">
    <polygon points="0,15 9,0 18,15" />
  </svg>
</section>
<div class="about--background"></div>
<img class="about--allAnimals" src="/images/AllAnimals.jpg" alt="image of the animals in the A Modern Eden world">
