<section class="about">
  <h2 class="about--header">Perfect for you and your&nbsp;child</h2>
  <p class="about--text">Endearing animals and engaging games for them. Classic design and peace of mind for&nbsp;you.</p>
  {{> _animal--lion}}
  <svg width="160" height="160" class="lion--back parallax-one">
    <circle cx="80" cy="80" r="80" />
  </svg>
  <svg class="lion--element" id="lion--element__1">
    <polygon points="0,15 9,0 18,15" />
  </svg>
  <svg class="lion--element" id="lion--element__2">
    <polygon points="0,15 9,0 18,15" />
  </svg>
  <svg class="lion--element" id="lion--element__3">
    <polygon points="0,15 9,0 18,15" />
  </svg>
  <svg class="lion--element" id="lion--element__4">
    <polygon points="0,15 9,0 18,15" />
  </svg>
</section>
<div class="about--background"></div>
