<section class="c-about">
  <h2 class="c-about__header">Perfect for you and your&nbsp;child</h2>
  <p class="c-about__text">Endearing animals and engaging games for them. Classic design and peace of mind for&nbsp;you.</p>
  {{> _animal--lion}}
  <svg width="160" height="160" class="c-lion__back parallax-one">
    <circle cx="80" cy="80" r="80" />
  </svg>
  <svg class="c-lion__element" id="c-lion__element__1">
    <polygon points="0,15 9,0 18,15" />
  </svg>
  <svg class="c-lion__element" id="c-lion__element__2">
    <polygon points="0,15 9,0 18,15" />
  </svg>
  <svg class="c-lion__element" id="c-lion__element__3">
    <polygon points="0,15 9,0 18,15" />
  </svg>
  <svg class="c-lion__element" id="c-lion__element__4">
    <polygon points="0,15 9,0 18,15" />
  </svg>
</section>
<div class="c-about__background"></div>
