<section class="c-about">
  <h2 class="c-about__header">Perfect for you and your&nbsp;child</h2>
  <p class="c-about__text">Endearing animals and engaging games for them. Classic design and peace of mind for&nbsp;you.</p>
  {{> _animal--lion}}
  <svg width="160" height="160" class="c-lion__back" id="c-lion__back">
    <circle cx="80" cy="80" r="80" />
  </svg>
  <svg width="18" height="15">
    <symbol id="triangle">
      <polygon points="0,15 9,0 18,15" />
    </symbol>
  </svg>
  <svg class="c-lion__element--1">
    <use xlink:href="#triangle"></use>
  </svg>
  <svg class="c-lion__element--2">
    <use xlink:href="#triangle"></use>
  </svg>
  <svg class="c-lion__element--3">
    <use xlink:href="#triangle"></use>
  </svg>
  <svg class="c-lion__element--4">
    <use xlink:href="#triangle"></use>
  </svg>
  {{> _animal--owl}}
  <svg width="160" height="160" class="c-owl__back" id="c-owl__back">
    <rect width="250" height="200">
  </svg>
  <svg width="18" height="15">
    <symbol id="half-circle">
      <path class="cls-1" d="M9.08 18.17A9.085 9.085 0 0 1 9.08 0v18.17z"/>
    </symbol>
  </svg>
  <svg class="c-owl__element--1">
    <use xlink:href="#half-circle"></use>
  </svg>
  <svg class="c-owl__element--2">
    <use xlink:href="#half-circle"></use>
  </svg>
  <svg class="c-owl__element--3">
    <use xlink:href="#half-circle"></use>
  </svg>
  <svg class="c-owl__element--4">
    <use xlink:href="#half-circle"></use>
  </svg>
  {{> _animal--elephant}}
  <svg width="160" height="160" class="c-elephant__back" id="c-elephant__back">
    <rect width="500" height="185">
  </svg>
  <svg width="18" height="15">
    <symbol id="square">
      <rect width="14" height="14">
    </symbol>
  </svg>
  <svg class="c-elephant__element--1">
    <use xlink:href="#square"></use>
  </svg>
  <svg class="c-elephant__element--2">
    <use xlink:href="#square"></use>
  </svg>
  <svg class="c-elephant__element--3">
    <use xlink:href="#square"></use>
  </svg>
  <svg class="c-elephant__element--4">
    <use xlink:href="#square"></use>
  </svg>
</section>
<div class="c-about__space"></div>
