<nav>
  <ul class="action">
    <a href="#" class="type--link action--link__alt">
      <li>buy now</li>
      <svg height="14"  class="action--arrow__alt">
        <polygon points="0,0 12,11 24,0" />
      </svg>
    </a>
    <a href="#" class="type--link action--link">
      <li>become a partner</li>
      <svg height="14"  class="action--arrow">
        <polygon points="0,0 12,11 24,0" />
      </svg>
    </a>
  </ul>
</nav>
