<nav>
  <ul class="c-action">
    <a href="#buy" class="c-action__link--alt">
      <li>buy now</li>
      <svg height="14"  class="c-action__arrow--alt">
        <polygon points="0,0 12,11 24,0" />
      </svg>
    </a>
    <a href="#sell" class="c-action__link">
      <li>become a partner</li>
      <svg height="14"  class="c-action__arrow">
        <polygon points="0,0 12,11 24,0" />
      </svg>
    </a>
  </ul>
</nav>
