<section class="buy">
    <h2 class="type--h2">Bring A modern Eden into your&nbsp;world</h2>
    <p class="type--p__reversed">A Modern Eden products are currently exclusively sold online at Blick. However, if you would like to become an exclusive retailer, please let us know!</p>
    <a class="buy--button" href="#">Buy Now</a>
</section>
