<a name="buy" id="buy">
<section class="c-buy">
    <h2 class="type__section-head">Bring A modern Eden into your&nbsp;world</h2>
    <p class="c-buy__type">A Modern Eden products are currently exclusively sold online at Blick. However, if you would like to become an exclusive retailer, please let us&nbsp;know!</p>
    <a class="c-buy__button" href="#">Buy Now</a>
</section>
