<footer class="footer">
  {{> _AMElogo--color}}
  <p class="type--p__small">&copy; A Modern Eden 2016</p>
  <p class="type--p__small">Designed and built by <a class="footer--link" href="seesparkbox.com">Sparkbox</a>
</footer>
