<footer class="c-footer">
  {{> _AMElogo--color}}
  <p class="c-footer__text">&copy; A Modern Eden 2016</p>
  <p class="c-footer__text">Designed and built by <a class="c-footer__link" href="http://seesparkbox.com">Sparkbox</a>
</footer>
