<footer class="footer">
  {{> _AMElogo--color}}
  <p class="footer--text">&copy; A Modern Eden 2016</p>
  <p class="footer--text">Designed and built by <a class="footer--link" href="http://seesparkbox.com">Sparkbox</a>
</footer>
