<title>A Modern Eden</title>
<meta charset="UTF-8">
<meta name="author" content="Andrew Spencer">
<meta name="viewport" content="width=device-width,initial-scale=1.0">


<link rel="stylesheet" href="/css/styles.css">

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="index.js"></script>
