<section class="proof">
  <h2 class="type--h2">Need More Proof?</h2>
    <h3 class="type--h4">Parents love the design aesthetic, kids canot put the toys down.</h3>
    <p class="type--p">The product potential for A Modern Eden characters is practically endless. When you partner with us to sell these successful products, you position yourself for long term success with a brand that is rapidly gaining momentum.</p>
    <p class="type--p__reverse">When I had my son, I searched long and hard for a kid-focused brand which extend my keen design aesthetic. I finally discovered the A Modern Eden products which far exceeded my expectations!" - John Doe</p>
    <h3 class="type--h4">Featured in these great blogs</h3>
    <img class="proof--logo" src="/images/featured_how.png" alt="HOW magazine logo" />
    <img class="proof--logo" src="/images/featured_scholastic.png" alt="Scholastic logo" />
    <img class="proof--logo" src="/images/featured_nyt.png" alt="New York Times logo" />
</section>
