<ul class="product1 clearfix">
  <li class="product1--list">
    <div class="product1--container">
      <div class="product1--info">
        <img class="product1--featuredImage" src="/images/posters_featuredImage.png">
        <h3 class="type--h3__product">Posters</h3>
      </div>
    </div>
    <label class="product1--learn">
      <input type="checkbox" class="product1--check">
      <svg height="14" width="400" class="product1--arrow">
        <polygon points="0,16 20,0 40,16" />
      </svg>
      <p class="type--link__more">Learn More</p>
    </label>
  </li>
  <li class="product1--list">
    <div class="product1--container__alt">
      <div class="product1--info">
        <img class="product1--featuredImage" src="/images/wallDeacal_featuredImage.png">
        <h3 class="type--h3__product">Wall Decal</h3>
      </div>
    </div>
    <label class="product1--learn__alt">
      <input type="checkbox" class="product1--check">
      <svg height="14" width="400" class="product1--arrow">
        <polygon points="0,16 20,0 40,16" />
      </svg>
      <p class="type--link__more">Learn More</p>
    </label>
  </li>
  <li class="product1--list">
    <div class="product1--container__alt">
      <div class="product1--info">
        <img class="product1--featuredImage" src="/images/tote_featuredImage.png">
        <h3 class="type--h3__product">Totes</h3>
      </div>
    </div>
    <label class="product1--learn__alt">
      <input type="checkbox" class="product1--check">
      <svg height="14" width="400" class="product1--arrow">
        <polygon points="0,16 20,0 40,16" />
      </svg>
      <p class="type--link__more">Learn More</p>
    </label>
  </li>
<ul>
