<section class="c-proof">
  <h2 class="type__section-head">Need More Proof?</h2>
  <div class="u-clearfix">
    <div class="c-proof__text-block">
      <h3 class="type__sub-section">Parents love the design aesthetic, kids canot put the toys down.</h3>
      <p class="c-proof__text">The product potential for A Modern Eden characters is practically endless. When you partner with us to sell these successful products, you position yourself for long term success with a brand that is rapidly gaining&nbsp;momentum.</p>
    </div>
    <p class="c-proof__quote">"When I had my son, I searched long and hard for a kid-focused brand which extend my keen design aesthetic. I finally discovered the A Modern Eden products which far exceeded my expectations!" &#8212;&nbsp;John&nbsp;Doe</p>
  </div>
  <h3 class="type__sub-section--center">Featured in these great blogs</h3>
  <div class="c-proof__featured">
    <img class="c-proof__logo" id="c-proof__logo--how" src="images/featured_how.png" alt="HOW magazine logo" />
    <img class="c-proof__logo" id="c-proof__logo--scholastic"src="images/featured_scholastic.png" alt="Scholastic logo" />
    <img class="c-proof__logo" id="c-proof__logo--nyt" src="images/featured_nyt.png" alt="New York Times logo" />
  </div>
</section>
