<ul class="product clearfix">
  <li class="product--item">
    <div class="product--container">
      <div class="product--info">
        <img class="product--featuredImage" src="/images/wallPuzzle_featuredImage.png">
        <h3 class="type--h3__product">Wall Puzzle</h3>
      </div>
    </div>
    <label class="product--learn">
      <input type="checkbox" class="product--check">
      <svg height="14" width="400" class="product--arrow">
        <polygon points="0,16 20,0 40,16" />
      </svg>
      <p class="type--link__more">Learn More</p>
    </label>
  </li>
  <li class="product--item">
    <div class="product--container__alt">
      <div class="product--info">
        <img class="product--featuredImage" src="/images/flashcards_featuredImage.png">
        <h3 class="type--h3__product">FlashCards</h3>
      </div>
    </div>
    <label class="product--learn__alt">
      <input type="checkbox" class="product--check">
      <svg height="14" width="400" class="product--arrow">
        <polygon points="0,16 20,0 40,16" />
      </svg>
      <p class="type--link__more">Learn More</p>
    </label>
  </li>
</ul>
