<ul class="c-product__3up u-clearfix">
  <li class="c-product__container c-product__container--3up">
    <h3 class="c-product__header">Posters</h3>
    <img class="c-product__image--featured" src="/images/posters_featuredImage.png">
    <p class="c-product__text">Screen printed by hand on 100 lb. French paper. These 112” x 16” posters will brighten up any space.</p>
    <div class="c-product__image--posters"></div>
  </li>
  <li class="c-product__container--alt2 c-product__container--3up">
    <h3 class="c-product__header--alt2">Wall Decal</h3>
    <img class="c-product__image--featured" src="/images/wallDecal_featuredImage.png">
    <p class="c-product__text">These reusable decals are made with Blik Re-Stick and will not leave residue. Great for adding some character to your walls.</p>
    <div class="c-product__image--walldecal"></div>
  </li>
  <li class="c-product__container--alt1 c-product__container--3up">
    <h3 class="c-product__header--alt1">Totes</h3>
    <img class="c-product__image--featured" src="/images/tote_featuredImage.png">
    <p class="c-product__text">100% recycled tote bag made of high quality fabric. Take the A Modern Eden aesthetic with you wherever you go.</p>
    <div class="c-product__image--totes"></div>
  </li>
</ul>
