<div class="product-alt">
  <h3 class="type--product__head">Apps</h3>
  <ul class="product-alt--container clearfix">
    <li class="product-alt--item">
      <h4 class="type--sub-section product-alt--title">Speak, Piggy!</h4>
      <p class="product-alt--text">Introduces your little ones to animals, their habitats, and the sounds the make. Keep them entertained while they&nbsp;learn.</p>
      <div class="product-alt--imageBack">
        <img class="product-alt--image" src="/images/speakPiggy.png" alt="Image of the Speak Piggy app on an iPhone">
      </div>
      <a class="button" href="#">download</a>
    </li>
    <li class="product-alt--item">
      <h4 class="type--sub-section product-alt--title">C Is For Cow</h4>
      <p class="product-alt--text">Playfully teach kids recognition and letter phonetics while the see corresponding animal for reinforcement.</p>
      <div class="product-alt--imageBack__alt">
        <img class="product-alt--image" src="/images/cIsForCow.png" alt="Image of the C Is For Cow app on an iPhone">
      </div>
      <a class="button" href="#">download</a>
    </li>
    <li class="product-alt--item">
      <h4 class="type--sub-section product-alt--title">Two By Two</h4>
      <p class="product-alt--text">Encourage a prolonged attention span and boost your little one’s short-term&nbsp;memory.</p>
      <div class="product-alt--imageBack">
        <img class="product-alt--image" src="/images/twoByTwo.png" alt="Image of the Two By Two app on an iPhone">
      </div>
      <a class="button" href="#">download</a>
    </li>
  </ul>
</div>
