<ul class="c-product u-clearfix">
  <li class="c-product__item">
    <div class="c-product__container">
      <div class="c-product__info">
        <img class="c-product__featuredImage" src="/images/wallPuzzle_featuredImage.png">
        <h3 class="type__product">Wall Puzzle</h3>
      </div>
    </div>
    <label class="c-product__learn">
      <input type="checkbox" class="c-product__check">
      <svg height="14" width="400" class="c-product__arrow">
        <polygon points="0,16 20,0 40,16" />
      </svg>
      <p class="type__link--more">Learn More</p>
    </label>
  </li>
  <li class="c-product__item">
    <div class="c-product__container--alt">
      <div class="c-product__info">
        <img class="c-product__featuredImage" src="/images/flashcards_featuredImage.png">
        <h3 class="type__product">FlashCards</h3>
      </div>
    </div>
    <label class="c-product__learn--alt">
      <input type="checkbox" class="c-product__check">
      <svg height="14" width="400" class="c-product__arrow">
        <polygon points="0,16 20,0 40,16" />
      </svg>
      <p class="type__link--more">Learn More</p>
    </label>
  </li>
</ul>
