<section class="c-products">
  <header class="c-products__header">
    <h2 class="type__section-head">Our Products</h2>
    <p class="type__p--center">Experience the characters in a tangible way</p>
  </header>
  <img class="c-products__hero" src="/images/wallPuzzle_hero.jpg">
  {{> _products_level1}}
  {{> _products_level2}}
  {{> _products_level3}}
</section>
