<ul class="c-product u-clearfix">
  <li class="c-product__container">
    <h3 class="c-product__header">Wall Puzzle</h3>
    <img class="c-product__image--featured" src="images/wallPuzzle_featuredImage.png">
    <p class="c-product__text">Made with Blik Re-Stik&trade;, this new and innovative product is durable, movable, and reusable. The wall puzzles come in 4 habitats: Grasslands, Rainforest, Farm, and Polar––all with our modernly-illustrated animals.</p>
    <div class="c-product__image--wallpuzzle"></div>
  </li>
  <li class="c-product__container--alt1">
    <h3 class="c-product__header--alt1">Flashcards</h3>
    <img class="c-product__image--featured" src="images/flashcards_featuredImage.png">
    <p class="c-product__text">Itʼs never too early to introduce little ones to good design. Feed their eyes with clean lines, classic color palettes, and texture from Digi-touch technology. Educate them with animal facts on the back.</p>
    <div class="c-product__image--flashcards"></div>
  </li>
</ul>
