<a name="products">
<section class="c-products">
  <header class="c-products__hero">
    <h2 class="c-products__head">Our Products</h2>
    <p class="c-products__sub-head">Experience the characters in a tangible&nbsp;way</p>
  </header>
  {{> _products_level1}}
  {{> _products_level2}}
  {{> _products_level3}}
</section>
