<a name="sell">
<section class="c-sell u-clearfix">
  <h2 class="c-sell__header">Sell A Modern Eden</h2>
  <p class="c-sell__type">Own a boutique or store and looking to sell products from A Modern Eden? Let us know and we will provide you with everything you need to know about becoming an exclusive vendor.</p>
  <p class="c-sell__type">Have general quesitons about the A Modern Eden products, feel free to drop us a line.</p>
  <form class="c-sell__form u-clearfix" action="index.html" method="post">
    <label class="c-sell__label" for="name">name</label>
    <input class="c-sell__input" id="name" type="text" name="name" placeholder="Your name">
    <label class="c-sell__label--alt" for="email">email</label>
    <input class="c-sell__input--alt" id="email" type="email" name="email" value="" placeholder="Your email">
    <textarea class="c-sell__input--text" name="message" rows="5" placeholder="I would like to learn more about how my business can c-sell A Modern Eden products."></textarea>
    <button type="submit" value="submit" class="c-sell__submit">submit</button>
  </form>
</section>
