<a name="sell">
<section class="sell u-clearfix">
  <h2 class="sell--header">Sell A Modern Eden</h2>
  <p class="sell--type">Own a boutique or store and looking to sell products from A Modern Eden? Let us know and we will provide you with everything you need to know about becoming an exclusive vendor.</p>
  <p class="sell--type">Have general quesitons about the A Modern Eden products, feel free to drop us a line.</p>
  <form class="sell--form u-clearfix" action="index.html" method="post">
    <label class="sell--label" for="name">name</label>
    <input class="sell--input" id="name" type="text" name="name" placeholder="Your name">
    <label class="sell--label__alt" for="email">email</label>
    <input class="sell--input__alt" id="email" type="email" name="email" value="" placeholder="Your email">
    <textarea class="sell--input__text" name="message" rows="5" placeholder="I would like to learn more about how my business can sell A Modern Eden products."></textarea>
    <button type="submit" value="submit" class="sell--submit">submit</button>
  </form>
</section>
