<a name="sell" id="sell">
<section class="c-sell u-clearfix">
  <h2 class="c-sell__header">Sell A Modern Eden</h2>
  <p class="c-sell__type">Own a boutique or store and looking to sell products from A Modern Eden? Let us know and we will provide you with everything you need to know about becoming an exclusive&nbsp;vendor.</p>
  <p class="c-sell__type">Have general quesitons about the A Modern Eden products, feel free to drop us a&nbsp;line.</p>
  <form class="c-sell__form u-clearfix" action="index.html" method="post">
    <label class="c-sell__label" for="name">name</label>
    <input class="c-sell__input" id="name" type="text" name="name" placeholder="Your name">
    <label class="c-sell__label" for="email">email</label>
    <input class="c-sell__input" id="email" type="email" name="email" value="" placeholder="Your email">
    <textarea class="c-sell__input--text" name="message" rows="5" placeholder="I would like to learn more about how my business can sell A Modern Eden products."></textarea>
    <a class="c-sell__submit" href="#modal">submit</a>
  </form>
  <div id="modal" class="c-sell__modal--container">
    <div class="c-sell__modal">
      <a href="#!" class="c-sell__modal--x">X</a>
      <img src="../images/owl_100.png" class="c-sell__modal--owl">
      <p class="c-sell__modal--type">Thanks for contacting A Modern&nbsp;Eden! While we work to respond, feel free to take a look at our <a href="#products" class="c-sell__modal--link">beautiful&nbsp;products<a>.</p>
    </div>
    <a href="#!" class="c-sell__modal--close"></a>
  </div>
</section>
