.about {
  width: 100%;
  height: 34em;
  box-sizing: border-box;
  margin: 0;
  padding: 6em 0 0;
  background-color: #e1e1e1;
  background-image: url("/images/lightTexture.png");
  background-size: 12.5em; //200px wide
  position: relative;
  z-index: -1;
}

.about--allAnimals {
  width: 100%;
}

.about--header {
  width: 80%;
  margin: 0 auto;
}

.about--text {
  @extend .about--header;
  margin: 1.5em auto 0;
}
