.about {
  @include background-pattern;
  width: 100%;
  height: 34em;
  box-sizing: border-box;
  margin: 0 0 0; //bottom here margin to allow for the fixed image to show
  padding: 6em 0 0;
}

.about--allAnimals {
  width: 100%;
  //position: fixed;  //fixed positioning turned off
  bottom: 0;
  z-index: -10;
}

.about--header {
  width: 80%;
  margin: 0 auto;
}

.about--text {
  @extend .about--header;
  margin: 1.5em auto 0;
}

.about--background {
  background-image: url("/images/AllAnimals.jpg");
}
