.c-about {
  @include background-pattern;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; //hide svg elements which extend to the right
  margin: 0;
  padding: 6em 0 3em;
  position: relative;
  height: 35em;

  @media (min-width: $bp-b) {
    padding-top: 8em;
    height: 38em;
  }

  @media (min-width: $bp-e) {
    padding: 10em 0 5em;
    height: 50em
  }

  @media (min-width: $bp-f) {
      height: 56em;
  }

  &__header {
    @extend .type__section-head;
    width: 80%;
    margin: 0 auto;

    @media (min-width: $bp-b) {
      width: 60%;
    }
  }

  &__text {
    @extend .type__p--large;
    text-align: center;
    width: 80%;
    margin: 1.5em auto 0;

    @media (min-width: $bp-b) {
      width: 60%;
      max-width: 30em; //480px
    }
  }

  &__space {
    width: 100%;
    height: 10em;
    background: transparent;

    @media (min-width: $bp-b) {
      height: 16em;
    }

    @media (min-width: $bp-d) {
      height: 20em;
    }

    @media (min-width: $bp-e) {
      height: 24em;
    }

    @media (min-width: $bp-f) {
      height: 36em;
    }
  }
}
