.about {
  width: 100%;
  height: 34em;
  box-sizing: border-box;
  margin: 0 0 0; //bottom here margin to allow for the fixed image to show
  padding: 6em 0 0;
  background-color: #e1e1e1;
  background-image: url("/images/lightTexture.png");
  background-size: 12.5em; //200px wide
  position: relative;
  z-index: -1;
}

.about--allAnimals {
  width: 100%;
  //position: fixed;  //fixed positioning turned off
  bottom: 0;
  z-index: -10;
}

.about--header {
  width: 80%;
  margin: 0 auto;
}

.about--text {
  @extend .about--header;
  margin: 1.5em auto 0;
}

.about--background {
  background-image: url("/images/AllAnimals.jpg");
}
