.c-action {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 2.75em;
  z-index: 10;
  position: fixed;
  top: 0;

  &__jsload {
    position: absolute;
    top: auto;
  }

  &__link {
    @extend .type__link;
    height: 52px;
    height: 3.25rem; //36px
    width: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.25s;
    transition-timing-function: ease-in-out;

    //positioning without flexbox (older browsers)
    display: block;
    float: left;

    //positioning using flexbox
    display: flex;
    align-items: center;
    justify-content: center;

    //content unique to this instance of c-action__link
    background-color: darken($green-brand, 2%);
    color: $brown-brand;

    @media (min-width: $bp-d) {
      &:hover {
        height: 64px;
        height: 4rem;
        background-color: darken($green-brand, 8%);
      }

      &:hover svg {
        top: 64px;
        top: 4rem;
        fill: darken($green-brand, 8%);
      }
    }
  }

  &__link--alt {
    @extend .c-action__link;
    background-color: darken($green-brand, 5%);
  }

  &__arrow {
    fill: darken($green-brand, 2%);
    width: 1.5em;
    position: absolute;
    top: 50px;
    top: 3.125rem;
    left: 45%; //for devices that do not support calc()
    left: calc(50% - 0.75em);
    transition: all 0.25s;
    transition-timing-function: ease-in-out;
  }

  &__arrow--alt {
    @extend .c-action__arrow;
    fill: darken($green-brand, 5%);
  }

  &__top {
    //fix the nav bar to the top of the page after javascript trigger
    position: fixed;
    top: 0;
  }
}
