.action {
  width: 100%;
  margin: 0;
  padding: 0;
}

.action--link {
  height: 2.75em;
  width: 50%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  //positioning without flexbox (older browsers)
  display: block;
  float: left;

  //positioning using flexbox
  display: flex;
  align-items: center;
  justify-content: center;

  //content unique to this instance of action--link
  background-color: $orange;
  color: $brown-brand;
}

.action--link__alt {
  @extend .action--link;
  background-color: $brown-brand;
  color: $brown-light;
}

.action--arrow {
  fill: $orange;
  top: 2.75em;
  position: absolute;
  width: 24;
}

.action--arrow__alt {
  @extend .action--arrow;
  fill: $brown-brand;
}
