.buy {
  background-color: $orange;
  background: linear-gradient(to bottom right, #DD8225, #C76000);
  padding: 3em 0;

  @media (min-width: $desktop-small-width) {
      padding: 5em 0;
  }

  &--type {
    @extend .type--p__reverse;
    text-align: center;
    margin: 1em auto 2em;
    width: 90%;

    @media (min-width: $tablet-small-width) {
        width: 70%;
    }
  }

  &--button {
    @extend .type--link;
    color: $orange;
    background-color: $white;
    display: block;
    width: 40%;
    text-align: center;
    box-sizing: border-box;
    padding: 0.5em 0;
    margin: 0 auto;

    &:hover {
      background-color: darken($white, 10%);
    }

    @media (min-width: $tablet-small-width) {
        width: 25%;
    }

    @media (min-width: $desktop-small-width) {
        width: 15%;
    }
  }
}
