.c-buy {
  background-color: $orange;
  background: linear-gradient(to bottom right, #DD8225, #C76000);
  @include section-padding;

  @media (min-width: $bp-f) {
    padding: 12em 0;
  }

  &__type {
    @extend .type__p--reverse;
    text-align: center;
    margin: 1em auto 2em;
    width: 90%;

    @media (min-width: $bp-b) {
      margin: 1.5em auto 3em;
      width: 70%;
      max-width: 800px;
      max-width: 50rem;
    }
  }

  &__button {
    @extend .type__link;
    color: $orange;
    background-color: $white;
    display: block;
    width: 40%;
    text-align: center;
    box-sizing: border-box;
    padding: 0.5em 0;
    margin: 0 auto;

    &:hover {
      background-color: darken($white, 10%);
    }

    @media (min-width: $bp-b) {
        width: 25%;
    }

    @media (min-width: $bp-d) {
        width: 15%;
    }
  }
}
