//colors

$green-transparent: rgba(243, 234, 0, 0.8);
$green-brand: #F3EA00;
$green-brand-d1: #D5D10E;
$green-brand-d2: #B8B308;
$green: #99DC3E;

$orange: #F26531;

$brown-brand: #4B3900;
$brown-light: #EDDFD3;
$brown-med: #D8C5B2;

$white: white;
$white-tint: #FDFBFA;
$black: black;
