@font-face{
  font-family:"Avenir Medium";
  src:url("/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
  src:url("/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),
      url("/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),
      url("/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),
      url("/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"),
      url("/fonts/3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
}
@font-face{
  font-family:"Avenir Next Bold";
  src:url("/fonts/6ff8ab07-ccb4-4a91-8f0f-2bd4367902e8.eot?#iefix");
  src:url("/fonts/6ff8ab07-ccb4-4a91-8f0f-2bd4367902e8.eot?#iefix") format("eot"),
    url("/fonts/91799b0e-0ef8-446e-b274-5509412e1242.woff2") format("woff2"),
    url("/fonts/97fb5311-bdbd-46bc-bf69-3bcf8c744cda.woff") format("woff"),
    url("/fonts/88093bd3-b377-4278-8abe-8460dd24d0e8.ttf") format("truetype"),
    url("/fonts/0fde1539-69df-4e3d-83ef-ae23d10dd2a5.svg#0fde1539-69df-4e3d-83ef-ae23d10dd2a5") format("svg");
}
@font-face{
  font-family:"Bebas Neue";
  src:url("/fonts/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
  src:url("/fonts/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"),
    url("/fonts/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"),
    url("/fonts/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"),
    url("/fonts/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype"),
    url("/fonts/849e0009-7435-46a3-b88d-c41c3ff639d4.svg#849e0009-7435-46a3-b88d-c41c3ff639d4") format("svg");
}
