.footer {
  background-color: $brown-med;
  padding: 5em 0 2em;

  &--text {
    @extend .type--p;
    font-size: 0.75em;
    text-align: center;
  }

  &--link {
    color: inherit;
    font-weight: 700;
  }
}
