.c-footer {
  background-color: $brown-med;
  padding: 5em 0 2em;

  &__text {
    @extend .type__p;
    font-size: 0.75em;
    text-align: center;
  }

  &__link {
    color: inherit;
    font-weight: 700;
  }
}
