.hero {
  background-color: $brown-light;
  background-image: url(/playingWithToys_products.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 24em;
  height: 90vh;
}

.hero--container {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
}
