.c-hero {
  background-color: $brown-light;
  background-image: url(/images/playingWithToys_products.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 24em;
  height: 85vh;
  display: block;
  position: relative;

  //use flexbox to center the content within the hero section
  @media screen and (min-width: $bp-b) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    display: block;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;

    @media screen and (min-width: $bp-a) {
      padding: 2em 3.5em;

    }

    @media screen and (min-width: $bp-b) {
      width: 80%;
      position: relative;
    }

    @media screen and (min-width: $bp-c) {
      padding: 3em 8em;
    }

    @media screen and (min-width: $bp-d) {
      width: 60%;
    }
  }
}
