.hero {
  background-color: $brown-light;
  background-image: url(/playingWithToys_products.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 24em;
  height: 90vh;

  //use flexbox to center the content within the hero section
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero--container {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  padding: 2em;
}

.AMElogo--color {
  display: block;
  width: 90%;
  margin: 0 auto 1.5em;

  @include phone-large {
      width: 70%;
  }
}
