.c-hero {
  background-color: $brown-light;
  background-image: url("../images/playingWithToys_products_1000.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 24em;
  height: 80vh;
  display: block;
  position: relative;

  //use flexbox to center the content within the hero section
  @media screen and (min-width: $bp-b) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: $bp-b) {
    background-image: url("../images/playingWithToys_products_1920.jpg");
  }

  @media screen and (min-width: $bp-e) {
    background-image: url("../images/playingWithToys_products.jpg");
  }

  &__container {
    display: block;
    width: 100%;
    padding: 5em 2em 2em;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 0;

    @media screen and (min-width: $bp-a) {
      padding: 5em 3.5em 2em;

    }

    @media screen and (min-width: $bp-b) {
      width: 80%;
      padding: 2em 3.5em;
      position: relative;
    }

    @media screen and (min-width: $bp-c) {
      padding: 3em 8em;
    }

    @media screen and (min-width: $bp-d) {
      width: 60%;
    }

    &--jsload {
      padding-top: 2em;
    }
  }
}
