.hero {
  background-color: $brown-light;
  background-image: url(/images/playingWithToys_products.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 24em;
  height: 85vh;
  display: block;
  position: relative;

  //use flexbox to center the content within the hero section
  @media screen and (min-width: $tablet-small-width) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hero--container {
  display: block;
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;

  @media screen and (min-width: $phone-large-width) {
    padding: 2em 3.5em;

  }

  @media screen and (min-width: $tablet-small-width) {
    width: 80%;
    position: relative;
  }

  @media screen and (min-width: $tablet-large-width) {
    padding: 3em 8em;
  }

  @media screen and (min-width: $desktop-small-width) {
    width: 60%;
  }
}

.AMElogo--color {
  display: block;
  max-width: 12.5em;
  margin: 0 auto 1.5em;

  @media screen and (min-width: $tablet-large-width) {
    width: 14em;
  }

  @media screen and (min-width: $desktop-width) {
    width: 18em;

  }
}
