$bp-a: 25em; //400px. Mostly large phones
$bp-b: 40em; //640px. Mostly small tablets
$bp-c: 47em; //752px. Mostly large tablets
$bp-d: 60em; //960px;. Mostly small desktops
$bp-e: 77em; //1200px. Mostly average desktops
$bp-f: 95em; //1520px. Mostly very large monitors
