.c-products {
  background-color: $white-tint;
  padding-bottom: 2em;

  &__header {
    padding: 3em 0; //padding on the top
    background-color: $brown-light;
  }

  &__hero {
    width: 100%;
  }
}
