//local breakpoint declaration
$bp-detail: 75em; //1200px

.c-product {
  width: 90%;
  margin: 2em auto;
  padding: 0;

  @media (min-width: $bp-a) {
    width: 80%;
  }

  @media (min-width: $bp-c) {
    width: 75%;
    margin: 4em auto;
    padding: 1em;
  }

  @media (min-width: $bp-d) {
    width: 80%;
  }

  @media (min-width: $bp-f) {
    padding: 2em;
  }

  &__arrow {
    display: none;

    @media (min-width: $bp-detail) {
      display: block;
      top: 18.25em;
      fill: $green-brand-d1;
      position: absolute;
      right: 20%;
      transition: all 300ms ease-in-out;
      transition-delay: 100ms;

      @media (min-width: $bp-f) {
        top: 23em;
      }
    }

    &--alt1 {
      @extend .c-product__arrow;
      fill: $blue-dark;
    }

    &--alt2 {
      @extend .c-product__arrow;
      fill: $green-dark;
    }
  }

  &__container {
    background-color: $green-brand;
    list-style: none;
    box-sizing: content-box;
    margin: 0 auto 1em;
    border: solid 0.35em $green-brand-d1;
    position: relative;

    @media (min-width: $bp-a) {
      margin-bottom: 2em;
    }

    @media (min-width: $bp-f) {
        margin-bottom: 4em;
        max-width: 100em; //1600px
    }

    &--alt1 {
      @extend .c-product__container;
      background-color: $blue;
      border-color: $blue-dark;
    }

    &--alt2 {
      @extend .c-product__container;
      background-color: $green;
      border-color: $green-dark;
    }
  }

  &__copy {
    @media (min-width: $bp-d) {
      float: left;
      width: 66.66%;
      height: 30em;
    }
    @media (min-width: $bp-detail) {
      width: 80%;
    }

    @media (min-width: $bp-f) {
      height: 40em;
    }
  }

  &__header {
      @extend .type__product;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0.5em 0;
      border-bottom: solid 0.2em $green-brand-d1;
      background-color: $green-brand-d1;

      &--alt1 {
        @extend .c-product__header;
        border-color: $blue-dark;
        background-color: $blue-dark;
      }

      &--alt2 {
        @extend .c-product__header;
        border-color: $green-dark;
        background-color: $green-dark;
      }
  }

  &__image--detailed {
    width: 100%;
    height: 9em;
    margin-top: 3em;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    border-top: solid 0.2em $green-brand-d1;
    transition: all 300ms ease-in-out;
    transition-delay: 100ms;

    @media (min-width: $bp-b) {
      margin-top: 4em;
    }

    @media (min-width: $bp-d) {
      float: left;
      width: 33.34%;
      height: 30em;
      margin: 0;
      box-sizing: border-box;
      border-top: none;
      border-left: solid 0.35em $green-brand-d1;
    }

    @media (min-width: $bp-detail) {
      width: 20%;
      position: absolute;
      right: 0;

      &:hover, &:focus {
        width: 100%;
      }

      &:hover + svg {
        right: calc(100% - 1.125em);
        transform: rotate(180deg);
      }
    }

    @media (min-width: $bp-f) {
      height: 40em;
    }
  }

  &__image--featured {
    width: 80%;
    max-width: 31.25em; //500px
    display: block;
    margin: 2em auto;
    position: relative;
    filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2));

    @media (min-width: $bp-b) {
      width: 70%;
      margin: 3em auto;
    }

    @media (min-width: $bp-e) {
      width: 70%;
    }

    @media (min-width: $bp-f) {
        width: 50%;
        margin: 4em auto 0;
    }

    &--alt2 {
      @extend .c-product__image--featured;
      filter: drop-shadow(0 2px 10px rgba(200, 200, 0, 1));
    }
  }

  &__image--wallpuzzle {
    @extend .c-product__image--detailed;
    background-image: url("../images/wallPuzzle_detail-720.jpg");

    @media (min-width: $bp-d) {
      background-image: url("../images/wallPuzzle_detail.jpg");
    }
  }

  &__image--flashcards {
    @extend .c-product__image--detailed;
    border-color: $blue-dark;
    background-image: url("../images/flashcards_detail-720.jpg");

    @media (min-width: $bp-d) {
      background-image: url("../images/flashcards_detail.jpg");
    }
  }

  &__image--posters {
    @extend .c-product__image--detailed;
    background-image: url("../images/posters_detail-720.jpg");

    @media (min-width: $bp-d) {
      background-image: url("../images/posters_detail.jpg");
    }
  }

  &__image--walldecal {
    @extend .c-product__image--detailed;
    border-color: $green-dark;
    background-image: url("../images/wallDecal_detail-720.jpg");

    @media (min-width: $bp-d) {
      background-image: url("../images/wallDecal_detail.jpg");
    }
  }

  &__image--totes {
    @extend .c-product__image--detailed;
    border-color: $blue-dark;
    background-image: url("../images/tote_detail-720.jpg");

    @media (min-width: $bp-d) {
      background-image: url("../images/tote_detail.jpg");
    }
  }

  &__text {
    @extend .type__p;
    width: 80%;
    margin: 0 auto;

    @media (min-width: $bp-detail) {
      width: 70%;
      max-width: 38.75em //600px;
    }

    @media (min-width: $bp-f) {
        margin: 2em auto 0;
        max-width: 42em; //672px
        font-size: 1.5em;
        line-height: 1.875em;
    }
  }
}
