.product2 {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  border-top: solid 4px $brown-light;
  border-bottom: solid 4px $brown-light;
}

.product2--container {
  margin: 1.5em 0;
  padding: 0;
}

.product2--image {
  width: 100%;
}

.product2--imageBack {
  margin-top: 1.5em;
  background-color: $green-brand;
}

.product2--imageBack__alt {
  @extend .product2--imageBack;
  background-color: $blue;
}

.product2--item {
  margin: 2em 0 0;
  display: block;
}

.product2--title {
  margin-bottom: 0.5em;
}
