.c-product-alt {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  border-top: solid 4px $brown-light;
  border-bottom: solid 4px $brown-light;

  &__container {
    width: 80%;
    margin: 1.5em auto;
    padding: 0;

    @media (min-width: $bp-b) {
      width: 60%;
    }

    @media (min-width: $bp-d) {
      width: 90%;

      display: flex;
      justify-content: space-between;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__imageBack {
    margin-top: 1.5em;
    background-color: $green-brand;
    line-height: 0.5;
  }

  &__imageBack--alt {
    @extend .c-product-alt__imageBack;
    background-color: $blue;
  }

  &__item {
    margin: 2em 0;
    display: block;

    @media screen and (min-width: $bp-d) {
      width: 30%;
    }
  }

  &__text {
    @extend .type__p;
    height: 6.25em; //patch fix. Need to use flexbox
  }

  &__title {
    margin-bottom: 0.5em;
  }
}
