.c-proof {
  @include background-pattern;
  @include section-padding;
  position: relative;
  padding-top: 20em;
  overflow: hidden; //hide svg elements which extend to the right

  &__featured {
    width: 80%;
    margin: 0 auto;

    @media (min-width: $bp-b) {
      width: 80%;
    }

    @media (min-width: $bp-d) {
      width: 80%;
    }

    @media (min-width: $bp-e) {
      width: 60%;
    }
  }

  &__logo {
    display: block;
    margin: 4em auto;
    width: 40%;

    @media (min-width: $bp-b) {
      float: left;
      margin: 0 auto;
    }
  }

  &__quote {
    @extend .type__p--reverse;
    background-color: $brown-brand;
    box-sizing: border-box;
    padding: 1.75em 5%;
    margin-bottom: 2.5em;
    border-top: 0.25em solid $green;
    border-bottom: 0.25em solid $green;
    text-indent: -0.425em;

    @media (min-width: $bp-b) {
      width: 60%;
      margin: 0 auto 5em;
      box-sizing: content-box;
      padding: 1.5em;
      border: 0.25em solid $green;
    }

    @media (min-width: $bp-e) {
      float: left;
      width: 32.5%;
      margin: 48px 17.5% 80px 2.5%;
      margin: 3rem 17.5% 5rem 2.5%;
    }

    @media (min-width: $bp-f) {
      width: 29%;
      margin-right: 18%;
    }
  }

  &__text {
    @extend .type__p;
    margin-top: 0.5em;
  }

  &__text-block {
    box-sizing: border-box;
    padding: 0;
    width: 90%;
    margin: 1.5em auto;

    @media (min-width: $bp-b) {
      width: 60%;
    }

    @media (min-width: $bp-e) {
      float: left;
      width: 20%;
      margin: 3em 2.55% 5em 17.5%;
    }

    @media (min-width: $bp-f) {
        width: 25%;
        margin-left: 18%;
    }
  }
}

#c-proof__logo--how {
  @media (min-width: $bp-b) {
    width: 14%;
    margin-top: 5.5%;
    margin-right: 15%;
  }
}

#c-proof__logo--scholastic {
  @media (min-width: $bp-b) {
    width: 32%;
    margin-top: 8%;
    margin-right: 15%;
  }
}

#c-proof__logo--nyt {
  @media (min-width: $bp-b) {
    width: 24%;
  }
}
