//local breakpoint declaration
$bp-3up: 75em; //1200px

.c-product {
  width: 90%;
  margin: 2em auto;
  padding: 0;

  @media (min-width: $bp-a) {
    width: 80%;
  }

  @media (min-width: $bp-c) {
    width: 75%;
    margin: 4em auto;
    padding: 1em;
  }

  @media (min-width: $bp-d) {
    width: 90%;
  }

  @media (min-width: $bp-f) {
    padding: 2em;
  }

  &__3up {
    @extend .c-product;

    @media (min-width: $bp-c) {
      width: 75%;
    }

    @media (min-width: $bp-d) {
      width: 60%;
    }

    @media (min-width: $bp-3up) {
      width: 90%;
    }
  }

  &__container {
    background-color: $green-brand;
    list-style: none;
    box-sizing: border-box;
    margin: 0 auto 1em;
    border: solid 0.25em $green-brand-d1;
    position: relative;

    @media (min-width: $bp-a) {
      margin-bottom: 2em;
    }

    @media (min-width: $bp-d) {
      float: left;
      width: 45%;
      margin: 0 2.5%;
      height: 40em;
    }

    @media (min-width: $bp-f) {
        height: 45em;
    }

    &--alt1 {
      @extend .c-product__container;
      background-color: $blue;
      border-color: $blue-dark;
    }

    &--alt2 {
      @extend .c-product__container;
      background-color: $green;
      border-color: $green-dark;
    }
  }

  &__container--3up {
    @media (min-width: $bp-d) {
      float: none;
      width: 100%;
      margin: 0 auto 2em;
    }

    @media (min-width: $bp-3up) {
      float: left;
      width: 30.83%;
      margin: 0 1.25%;
      height: 35em;
    }

    @media (min-width: $bp-f) {
        height: 40em;
    }
  }

  &__header {
      @extend .type__product;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0.5em 0;
      border-bottom: solid 0.2em $green-brand-d1;

      &--alt1 {
        @extend .c-product__header;
        border-color: $blue-dark;
      }

      &--alt2 {
        @extend .c-product__header;
        border-color: $green-dark;
      }
  }

  &__image--featured {
    width: 80%;
    max-width: 31.25em; //500px
    display: block;
    margin: 2em auto;
    position: relative;

    @media (min-width: $bp-e) {
      width: 70%;
    }
  }

  &__image--detailed {
    width: 100%;
    height: 9em;
    margin-top: 2em;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    border-top: solid 0.2em $green-brand-d1;

    @media (min-width: $bp-d) {
      position: absolute;
      bottom: 0;
    }
  }

  &__image--wallpuzzle {
    @extend .c-product__image--detailed;
    background-image: url("/images/wallPuzzle_detail.jpg");
  }

  &__image--flashcards {
    @extend .c-product__image--detailed;
    border-color: $blue-dark;
    background-image: url("/images/flashcards_detail.jpg");
  }

  &__image--posters {
    @extend .c-product__image--detailed;
    background-image: url("/images/posters_detail.jpg");
  }

  &__image--walldecal {
    @extend .c-product__image--detailed;
    border-color: $green-dark;
    background-image: url("/images/wallDecal_detail.jpg");
  }

  &__image--totes {
    @extend .c-product__image--detailed;
    border-color: $blue-dark;
    background-image: url("/images/tote_detail.jpg");
  }

  &__text {
    @extend .type__p;
    width: 80%;
    margin: 0 auto;
  }
