.c-products {
  background-color: $white-tint;
  padding-bottom: 2em;

  &__hero {
    padding: 3.5em 0; //padding on the top
    background-color: $green;
    background: linear-gradient(to bottom right, lighten($green, 10%), darken($green, 15%));
    background-position: center center;
    background-size: cover;
    position: relative;

    @media (min-width: $bp-b) {
      padding: 6em;
    }
  }

  &__head {
    @extend .type__section-head;
    position: relative;
  }

  &__sub-head {
    @extend .type__p--center;
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
}
