.proof {
  @include background-pattern;
  @include section-padding;

  &--featured {
    width: 90%;
    margin: 0 auto;

    @media (min-width: $tablet-small-width) {
      width: 95%;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }

    @media (min-width: $desktop-small-width) {
      width: 80%;
    }

    @media (min-width: $desktop-width) {
      width: 60%;
    }
  }

  &--logo {
    display: block;
    margin: 2em auto;

    @media (min-width: $tablet-small-width) {
      //float: left;
    }
  }

  &--quote {
    @extend .type--p__reverse;
    background-color: $brown-brand;
    box-sizing: border-box;
    padding: 1.75em 5%;
    margin-bottom: 2.5em;
    border-top: 0.25em solid $green;
    border-bottom: 0.25em solid $green;
    text-indent: -0.425em;

    @media (min-width: $tablet-small-width) {
      width: 60%;
      margin: 0 auto 5em;
      box-sizing: content-box;
      padding: 1.5em;
      border: 0.25em solid $green;
    }

    @media (min-width: $desktop-width) {
      float: left;
      width: 39%;
      margin: 3em 12.5% 5em 2.5%;
    }

    @media (min-width: $desktop-large-width) {
      width: 29%;
      margin-right: 18%;
    }
  }

  &--text {
    @extend .type--p;
    margin-top: 0.5em;
  }

  &--text-block {
    box-sizing: border-box;
    padding: 0;
    width: 90%;
    margin: 1.5em auto;

    @media (min-width: $tablet-small-width) {
      width: 60%;
    }

    @media (min-width: $desktop-width) {
      float: left;
      width: 25%;
      margin: 3em 2.55% 5em 12.5%;
    }

    @media (min-width: $desktop-large-width) {
        width: 25%;
        margin-left: 18%;
    }
  }
}

#proof--logo__how {
  width: 25%;
  max-width: 7.25em; //115px
}

#proof--logo__scholastic {
  width: 70%;
  max-width: 16.25em; //260px

  @media (min-width: $tablet-small-width) {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
  }
}

#proof--logo__nyt {
  width: 35%;
  max-width: 11.25em; //180px
}
