.products {
  background-color: $white-tint;
}

.products--header {
  padding: 3em 0; //padding on the top
  background-color: $brown-light;
}

.products--hero {
  width: 100%;
}



.product1 {
  margin: 1.5em 0;
  padding: 0;
}

.product1--arrow {
  position: absolute;
  margin-left: 172px;
  margin-top: -20px;
  fill: darken($green-brand, 10%);

  display: none; //hide on mobile size
}

.product1--check {
  display: none;
}

.product1--check:checked  {
  height: 10em;
}

.product1--container {
  width: 90%;
  height: 20em;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: $white;
  background-image: url('/images//wallPuzzle_product.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
}

//display a yellow overlay on top of the image
.product1--container:before {
  content: '';
  display: block;
  width: 100%; //cover only half of the image on mobile
  height: 4em;
  background-color: $green-transparent;
  transition: all 0.25s ease-in-out;
}

.product1--container:hover:before {
  background-color: transparent;
}

.product1--featuredImage {
  width: 50%;
  margin: 0 auto;
}

.product1--learn {
  width: 90%;
  height: 5em;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  border: solid 6px darken($green-brand, 10%);
  background-color: $green-brand;

}

.product1--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
