.product1 {
  margin: 1.5em 0;
  padding: 0;
}

.product1--arrow {
  position: absolute;
  margin-left: 172px;
  margin-top: -20px;
  fill: darken($green-brand, 10%);

  display: none; //hide on mobile size
}

.product1--arrow__alt {
  @extend .product1--arrow;
  fill: darken($blue, 10%);
}

.product1--check {
  display: none;
}

.product1--check:checked  {
  height: 10em;
}

.product1--container {
  width: 90%;
  height: 20em;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: $white;
  background-image: url('/images/wallPuzzle_product.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product1--container__alt {
  @extend .product1--container;
  background-image: url('/images/');
  background-image: url('/images/flashcards_hero.jpg');
}

//display a yellow overlay on top of the image
.product1--container:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: $green-transparent;
  position: absolute;
  z-index: 0;
}

.product1--container__alt:before {
  @extend .product1--container:before;
  background-color: $blue-transparent;
}

.product1--container:hover:before {
  background-color: transparent;
}

.product1--featuredImage {
  width: 60%;
  display: block;
  margin: 0 auto 0;
  position: relative;
  z-index: 2;
}

.product1--learn {
  width: 90%;
  height: 5em;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  border: solid 6px darken($green-brand, 10%);
  background-color: $green-brand;
}

.product1--learn__alt {
  @extend .product1--learn;
  border: solid 6px darken($blue, 10%);
  background-color: $blue;
}

.product1--list {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
