.c-product {
  width: 90%;
  margin: 2em auto;
  padding: 0;

  @media (min-width: $bp-a) {
    width: 80%;
  }

  @media (min-width: $bp-c) {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
  }

  &__3up {
    @extend .c-product;

    @media (min-width: $bp-c) {
      width: 60%;
      display: block;
    }

    @media (min-width: $bp-d) {
      width: 90%;
      display: flex;
      justify-content: space-between;
    }

  }

  &__arrow {
    position: absolute;
    margin-left: 172px;
    margin-top: -20px;
    fill: darken($green-brand, 10%);

    display: none; //hide on mobile size
  }

  &__arrow--alt {
    @extend .c-product__arrow;
    fill: darken($blue, 10%);
  }

  &__check {
    display: none;
  }

  &__check:checked  {
    height: 10em;
  }

  &__container {
    height: 20em;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: $white;
    background-image: url('/images/wallPuzzle_product.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container--alt {
    @extend .c-product__container;
    background-image: url('/images/');
    background-image: url('/images/flashcards_product.jpg');
  }

  //display a yellow overlay on top of the image
  &__container:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($green-brand, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__container--alt:before {
    @extend .c-product__container:before;
    background-color: rgba($blue, 0.85);
  }

  &__container:hover:before {
    background-color: transparent;
  }

  &__featuredImage {
    width: 60%;
    max-width: 31.25em; //500px
    display: block;
    margin: 0 auto 0;
    position: relative;
    z-index: 2;
  }

  &__item {
    list-style: none;
    margin: 0 auto 1em;

    @media (min-width: $bp-c) {
      width: 47.5%;
      display: block;
    }
  }

  &__item__3up {
    list-style: none;
    margin: 0 auto 1em;

    @media (min-width: $bp-d) {
      width: 30%;
    }
  }

  &__learn {
    height: 5em;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    border: solid 6px darken($green-brand, 10%);
    background-color: $green-brand;
  }

  &__learn--alt {
    @extend .c-product__learn;
    border: solid 6px darken($blue, 10%);
    background-color: $blue;
  }
}
