.products {
  background-color: $white-tint;
  padding-bottom: 2em;
}

.products--header {
  padding: 3em 0; //padding on the top
  background-color: $brown-light;
}

.products--hero {
  width: 100%;
}
