.c-sell {
  background-color: $brown-light;
  background-image: url("../images/wood_texture.png");
  @include section-padding;

  &__form {
    width: 90%;
    max-width: 37.5em; //600px
    margin: 0 auto;

    @media (min-width: $bp-b) {
      padding: 2em 0;
    }
  }

  &__header {
    @extend .type__section-head;
    width: 90%;
    margin: 0 auto 1em;
  }

  &__input {
    @extend .type__p--reverse;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;

    background-color: lighten($green-dark, 20%);
    color: $brown-brand;
    border: 0.25em solid $green-dark;
    -webkit-border-radius: none; //remove default radious on iOS
    -webkit-appearance: none;

    &:focus {
      background-color: $white;
      outline: none;
    }

    @media (min-width: $bp-b) {
      float: left;
      width: 80%;
    }
  }

  //Style the placeholder text in the form input areas
  &__input::-webkit-input-placeholder {
    color: $white;
  }

  &__input:-moz-placeholder { /* Firefox 18- */
     color: $white;
  }

  &__input::-moz-placeholder {  /* Firefox 19+ */
     color: $white;
  }

  &__input:-ms-input-placeholder {
     color: $white;
  }

  &__input--alt {
    @extend .c-sell__input;
    border-color: $blue-dark;
    background-color: lighten($blue-dark, 20%);
  }

  &__input--text {
    @extend .c-sell__input;

    @media (min-width: $bp-b) {
      width: 100%;
    }
  }

  &__label {
    @extend .type__p--reverse;
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 0.25em;
    width: 100%;

    background-color: $green-dark;
    border: 0.25em solid $green-dark;
    border-radius: none; //remove default radious on iOS

    @media (min-width: $bp-b) {
      padding: 0.5em;
      float: left;
      width: 20%;
    }
  }

  &__label--alt {
    @extend .c-sell__label;
    background-color: $blue-dark;
    border-color: $blue-dark;
  }

  &__submit {
    @extend .button;
    float: right;
    margin-top: 0;
    padding: 0.75em 2em;

    @media (min-width: $bp-e) {
      font-size: 1.25em;
    }
  }

  &__type {
    @extend .type__p--large;
    width: 90%;
    margin: 0 auto 1em;

    @media (min-width: $bp-e) {
      width: 60%;
    }
  }
}
