.c-sell {
  background-color: $brown-light;
  background-image: url("../images/wood_texture.png");
  @include section-padding;

  &__form {
    width: 90%;
    max-width: 37.5em; //600px
    margin: 0 auto;

    @media (min-width: $bp-b) {
      padding: 2em 0;
    }
  }

  &__header {
    @extend .type__section-head;
    width: 90%;
    margin: 0 auto 1em;
  }

  &__input {
    @extend .type__p--reverse;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;

    background-color: lighten($green-dark, 20%);
    color: $brown-brand;
    border: 0.25em solid $green-dark;
    border-radius: 0em; //remove default radious on iOS
    appearance: none;

    &:focus {
      background-color: $white;
      outline: none;
    }

    @media (min-width: $bp-b) {
      float: left;
      width: 80%;
    }
  }

  //Style the placeholder text in the form input areas
  &__input::-webkit-input-placeholder {
    color: $white;
  }

  &__input:-moz-placeholder { /* Firefox 18- */
     color: $white;
  }

  &__input::-moz-placeholder {  /* Firefox 19+ */
     color: $white;
  }

  &__input:-ms-input-placeholder {
     color: $white;
  }

  &__input--text {
    @extend .c-sell__input;

    @media (min-width: $bp-b) {
      width: 100%;
    }
  }

  &__label {
    @extend .type__p--reverse;
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 0.25em;
    width: 100%;

    background-color: $green-dark;
    border: 0.25em solid $green-dark;
    border-radius: none; //remove default radious on iOS

    @media (min-width: $bp-b) {
      padding: 0.5em;
      float: left;
      width: 20%;
    }
  }

  &__modal {
    //modal element
    background-color: $white-tint;
    border: solid 0.25em $green-dark;
    box-sizing: border-box;
    padding: 2em;
    position: fixed;
    top: -30em;
    z-index: 11;
    width: 90%;
    left: 5%;
    transition: top 300ms ease;

    @media (min-width: $bp-b) {
      padding: 4em;
      width: 60%;
      left: 20%;
    }
  }

  &__modal--container:target {
    opacity: 1;
    top: 0;
  }

  &__modal--container:target .c-sell__modal {
    top: 2em;
  }

  &__modal--container {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba($green, 0.8);
    opacity: 0;
    transition: opacity 300ms ease;
  }

  &__modal--close {
    //container for the background when modal displays and to allow closing
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__modal--link {
    color: $brown-brand;
  }

  &__modal--owl {
    max-width: 3.75em; //60px
    margin: 0 auto 2em;
    display: block;

    @media (min-width: $bp-b) {
      max-width: 5em; //80px
    }

    @media (min-width: $bp-e) {
      max-width: 6.25em; //100px
    }
  }

  &__modal--type {
    @extend .type__p--large;
    text-align: center;
    max-width: 30em;
    margin: 0 auto;
  }

  &__modal--x {
    @extend .type__p--large;
    position: absolute;
    text-decoration: none;
    top: 2em;
    right: 2em;
    line-height: 0.8em;
  }

  &__submit {
    @extend .button;
    float: right;
    margin-top: 0;
    padding: 0.75em 2em;

    @media (min-width: $bp-e) {
      font-size: 1.25em;
    }
  }

  &__type {
    @extend .type__p--large;
    width: 90%;
    margin: 0 auto 2em;

    @media (min-width: $bp-e) {
      width: 60%;
      max-width: 800px;
      max-width: 50rem;
    }
  }
}
