.lion {
  width: 200px;
  position: absolute;
  bottom: 2em;
  left: 5%;
}

#lion--eyes {
  -webkit-animation: lion--eyes 6s infinite ease-in-out;
          animation: lion--eyes 6s infinite ease-in-out;
}

#lion--lids {
  -webkit-animation: lion--lids 14.5s infinite ease-in-out;
          animation: lion--lids 14.5s infinite ease-in-out;
}

#lion--mouth {
  -webkit-animation: lion--mouth 14.5s infinite ease-in-out;
          animation: lion--mouth 14.5s infinite ease-in-out;
}

@-webkit-keyframes lion--eyes {
  1% {
    opacity: 0;
  }

  0%, 2%, 100% {
    opacity: 1;
  }
}

@-webkit-keyframes lion--lids {
  10%, 15% {
    transform: translateY(-10px);
  }

  0%, 30% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes lion--mouth {
  10%, 15% {
    transform: translateY(60px);
  }

  0%, 30% {
    transform: translateY(0px);
  }
}

.lion--back {
  fill: $green;
  position: absolute;
  z-index: -2;
  bottom: -1em;
  left: 7.5%;
}

.lion--element {
  fill: $green;
  position: absolute;
  z-index: -2;
  width: 1.125em;
  height: 0.9375em;
}

#lion--element__1 {
  left: 4.5%;
  bottom: 8em; //positioning if javascript is not loaded
}

#lion--element__2 {
  left: 9%;
  bottom: 8em; //positioning if javascript is not loaded
}

#lion--element__3 {
  left: 65%;
  bottom: 8em; //positioning if javascript is not loaded
}

#lion--element__4 {
  left: 80%;
  bottom: 8em; //positioning if javascript is not loaded
}
