.h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: $brown-brand;
  font-size: 1.75em;
  letter-spacing: 0.125em;
  text-align: center;
}

.h1--hero {
  @extend .h1;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
