.type--h1 {
  font-family: 'Bebas Neue', tahoma, arial, sans-serif;
  color: $brown-brand;
  font-size: 1.75em;
  line-height: 1.125em;
  letter-spacing: 0.125em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.type--h1__hero {
  @extend .type--h1;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.type--h2 {
  @extend .type--h1;
  font-size: 1.5em;
}

.type--h3 {
  font-family: "Avenir Next Bold", "Avenir", helvetica, sans-serif;
  font-size: 1.5em;
  color: $brown-brand;
  text-align: center;
}

.type--h3__product {
  @extend .type--h3;
  margin-top: -2em;
}

.type--link {
  font-family: "Avenir Medium", "Avenir", helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.type--link__more {
  @extend .type--link;
  text-align: center;
  margin-top: 1.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.type--p {
  font-family: "Avenir Medium", "Avenir", helvetica, sans-serif;
  font-size: 1em;
  color: $brown-brand;
  margin: 0;
  padding: 0;
}

.type--p__large {
  @extend .type--p;
}

.type--p__center {
  @extend .type--p__large;
  text-align: center;
}
