.type--hero {
  font-family: 'Bebas Neue', tahoma, arial, sans-serif;
  color: $brown-brand;
  font-size: 1.5em;
  line-height: 1.125em;
  letter-spacing: 0.125em;
  text-align: center;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet-small-width) {
    font-size: 2em;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 3.75em;
  }
}

.type--section-head {
  @extend .type--hero;
  font-size: 1.5em;
  letter-spacing: 0.0625em;

  @media screen and (min-width: $tablet-small-width) {
    font-size: 2em;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 3.75em;
  }
}

.type--product__head {
  font-family: "Avenir Next Bold", "Avenir", helvetica, sans-serif;
  font-size: 2em;
  margin: 0;
  color: $brown-brand;
  text-align: center;
}

.type--product {
  @extend .type--product__head;
  font-size: 1.5em;
  position: relative;
  margin-top: 0.5em;
  z-index: 2;
}

.type--sub-section {
  font-family: 'Bebas Neue', tahoma, arial, sans-serif;
  font-size: 1.125em;
  margin: 0;
  letter-spacing: 0.15625em;
  color: $brown-brand;
}

.type--sub-section__center {
  @extend .type--sub-section;
  text-align: center;
}

.type--link {
  font-family: "Avenir Medium", "Avenir", helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    font-size: 1.5em;
  }
}

.type--link__more {
  @extend .type--link;
  text-align: center;
  margin-top: 1.5em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.type--link__product {
  @extend .type--link;
  color: $white;
  font-size: 0.875em;
  text-align: center;
}

.type--p {
  font-family: "Avenir Medium", "Avenir", helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: $brown-brand;
  margin: 0;
  padding: 0;
  font-weight: 400;

  @media screen and (min-width: $phone-large-width) {
    line-height: 1.75em;
  }
}

.type--p__large {
  @extend .type--p;

  @media (min-width: $desktop-width) {
    font-size: 1.5em;
    line-height: 1.875em;
  }
}

.type--p__center {
  @extend .type--p__large;
  text-align: center;
}

.type--p__reverse {
  @extend .type--p__large;
  color: $white;
}
