.type--h1 {
  font-family: 'Bebas Neue', tahoma, arial, sans-serif;
  color: $brown-brand;
  font-size: 1.75em;
  line-height: 1.125em;
  letter-spacing: 0.125em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.type--h1__hero {
  @extend .type--h1;
  font-size: 1.5em;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet-small-width) {
    font-size: 2em;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 3.75em;
  }
}

.type--h2 {
  @extend .type--h1;
  font-size: 1.5em;
}

.type--h3 {
  font-family: "Avenir Next Bold", "Avenir", helvetica, sans-serif;
  font-size: 1.5em;
  margin: 0;
  color: $brown-brand;
  text-align: center;
}

.type--h3__product {
  @extend .type--h3;
  position: relative;
  margin-top: 0.5em;
  z-index: 2;
}

.type--h4 {
  font-family: 'Bebas Neue', tahoma, arial, sans-serif;
  font-size: 1.125em;
  letter-spacing: 0.15625em;
  color: $brown-brand;
}

.type--link {
  font-family: "Avenir Medium", "Avenir", helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.type--link__more {
  @extend .type--link;
  text-align: center;
  margin-top: 1.5em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.type--link__product {
  @extend .type--link__more;
  color: $white;
  font-size: 0.875em;
}

.type--p {
  font-family: "Avenir Medium", "Avenir", helvetica, sans-serif;
  font-size: 1em;
  color: $brown-brand;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.type--p__large {
  @extend .type--p;
}

.type--p__center {
  @extend .type--p__large;
  text-align: center;
}

.type--p__reverse {
  @extend .type--p__center;
  text-align: center;
}
