//Combine Sass particals

//Base Sass styles
@import "media";
@import "fonts"; //loads fonts
@import "mixin"; //mixin file for background images and other repeated patterns

//General styles
@import "color";
@import "typography";
@import "buttons";

//SVG styles
@import "_svg--animals";

//Styles for partials
@import "hero";
@import "action";
@import "about";
@import "products_container";
@import "product";
@import "product_alt";
@import "proof";
@import "buy";
@import "sell";
@import "footer";

//Utility classes
@import "utility";
