//Combine Sass particals

//Base Sass styles
@import "media";
@import "reset";
@import "fonts"; //loads fonts

//General styles
@import "color";
@import "typography";



//Styles for partials
@import "hero";
@import "action";
